@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');
.Genrepage {
    background-color: #377d71;
    font-family: 'Noto Sans KR', sans-serif;
}
.Genrepage h1 {
    padding: 30px 0;
    font-size: 68px;
    color: white;
    text-align: center;
}
#genre_div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#genre_ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}
#genre_ul li{
    width: 70px;
    margin: 0 20px;
}
.component {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#GenreContent {
    width: 30%;
    margin-left: 3.3333%;
    height: 400px;
    position: relative;
    padding-top: 60px;
    text-align: center;
    margin-top: 90px;
}

#GenreContent img {
    width: 50%;
    /* margin-left: 25%; */
    margin-top: 5px;
}
#GenreContent #span_locaion {
    /* font-weight: bold; */
    font-size: 14px;
    background-color:darkred;
    padding: 3px 8px;
    color: white;
    border-radius: 25px;
}
#GenreContent #span_title {
    font-size: 18px;
    color: white;
    
}
