.Genrepage {
    background-color: #377d71;
}
.Genrepage h1 {
    padding: 30px 0;
    font-size: 68px;
    color: white;
    text-align: center;
}
#genre_div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#genre_ul {
    display: flex;
    width: 700px;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}
.component {
    width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
#GenreContent {
    width: 30%;
    margin-left: 3.3333%;
    height: 400px;
}
#GenreContent {
    position: relative;
    padding-top: 150px;
    text-align: center;
}
#GenreContent img {
    width: 50%;
    margin-left: 25%;
}
/* #GenreContent div {
    position: absolute;
    width: 100%;
    margin-left: 450px;
}
#GenreContent #span_locaion {
    position: absolute;
    top: 123px;
    font-weight: bold;
    font-size: 14px;
    background-color: #FBA1A1;
    width: 50px;
    color: black;
    border-radius: 25px;
    left: 370px;
}
#GenreContent span {
    position: absolute;
    top: 450px;
    font-size: 18px;
    color: white;
    width: 100%;
    margin-left: 160px;
}
#detail {
    margin-top: 340px;
} */