#mainpage {
    scroll-behavior: smooth;
}
#mainpage video{
    width: 100%;
}
#second_content {
    background-color: snow;
    height: 1300px;
    position: relative;
}
#wtw {
    font-size: 48px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding-top: 160px;
    margin-left: 280px;
}
#paragraph {
    margin-top: 40px;
    font-size: 20px;
    line-height: 1.5;
}
#Cityimg {
    position: absolute;
    left: 1000px;
    top: 300px;
    width: 400px;
    transform: rotate(-30deg);
}
#Cityimg img {
    width: 100%;
}
#IUimg {
    position: absolute;
    left: 200px;
    top: 670px;
    width: 750px;
}
#IUimg img {
    width: 100%;
}
#Twiceimg {
    position: absolute;
    right: 210px;
    top: 210px;
    width: 500px;
}
#Twiceimg img{
    width: 100%;
}
#third_content {
    height: 100vh;
    background-color: black;
}
#third_content {
    position: relative;
    color: white;
}
#third_content #third_slogan {
    position: absolute;
    top: 25%;
    left: 18%;
    font-size: 52px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
}
#third_content #third_slogan2 {
    position: absolute;
    top: 32%;
    left: 18%;
    font-size: 18px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
}
#WNNC {
    position: absolute;
    bottom: 0px;
    left: -100px;
    width: 1200px;
    /* z-index: 5; */
}
#WNNC img {
    width: 100%;
}
#circle_slogan {
    position: absolute;
    width: 400px;
    top: 15%;
    right: 15%;
    animation: rotate_image 10s linear infinite;transform-origin: 50% 50%;
}
#circle_slogan img {
    width: 100%;
}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}