#edit_concert {
    height: 750px;
}
#edit_concert h2 {
    padding: 50px 400px;
}
#edit_concert form{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#edit_concert form div {
    margin: 5px 0;
}
#edit_concert form .title {
    margin-right: 80px;
    font-weight: bold;
    font-size: 18px;
}
#edit_concert form .left_move {
    margin-right: 45px;
}
#edit_concert form .left_move2 {
    margin-right: 62px;
}
.radios {
    margin-right: 20px;
}
textarea {
    width: 500px;
    height: 200px;
    padding: 3px;
    resize: none;
}
#edit_concert input {
    width: 500px;
    height: 30px;
}
#edit_genre {
    padding-left: 80px;
}
#edit_genre:not(:nth-child(2)) input {
    width: 15px;
    height: 12px;
}
#edit_genre:not(:nth-child(2)) .title {
    margin-right: 120px;
}
.upspan {
    display: block;

}
#concert_desc {
    display: flex;
}
#edit_concert #btns {
    margin-left: 550px;
}
#edit_concert #btns button {
    outline: none;
    border: none;
    background-color: #fff;
    margin: 0 5px;
}