.create_concert {
    height: 1400px;
    background-color:#FEBF63;
    padding-top: 60px;
}
.create_concert form{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
.create_concert form table {
    background-color: white;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 16px;
    padding-bottom: 80px;
}
.create_concert form table th{
    padding: 30px 0;
    font-size: 24px;
}
.create_concert form table td {
    padding-left: 60px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
}

.create_concert textarea {
    width: 500px;
    height: 200px;
    padding: 3px;
    resize: none;
}
.create_concert input {
    width: 350px;
    height: 40px;
    margin-right: 10px;
    outline: none;
    border: none;
    padding: 3px;
    border-bottom: 5px solid #FEBF63;
}
.create_concert #imgimgimg input {
    border: none;
    width: 350px;
    height: 40px;
}
.create_concert .radios input{
    width: 13px;
    height: 13px;
}
input, textarea {
    outline: none;
    padding: 3px;
}
#con_desc {
    height: 280px;
}
.create_concert #brntr {
    text-align: center;
}
.create_concert #btntr #btns {
    text-align: center;
    padding-left: 0px
}
.create_concert button {
    color: #fff;
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin: 0 10px;
    padding: 4px 20px;
    cursor: pointer;
}
input::placeholder {
    font-size: 12px;
}
#disdis {
    display: none;
}
/* @media screen and (min-width: 361px) and (max-width: 767px)  {
    .create_concert form table {
        width: 95%;
    }
    .create_concert form table td {
        padding-left: 45px;
    }
    .create_concert textarea {
        width: 400px
    }
}
@media screen and (max-width: 360px){
    .create_concert form {
        width: 340px;
    }
    .create_concert form table {
        display: block;
        max-width: 340px;
    }
    .create_concert form table th {
        text-align: left;
        padding-left: 45px;
    }
    .create_concert form table tr td:first-child {
        padding-left: 5px;
        width: 80px;
        font-size: 14px;
        display: block;
        padding-top: 18px;
    }
    .create_concert form table tr td:nth-child(2) {
        padding-left: 5px;
        font-size: 14px;
        width: 400px;
    }
    .create_concert input {
        width: 200px;
        /* margin-bottom: 50px; */
    /* }
    .create_concert textarea {
        height: 150px;
        width: 200px;
        margin-top: -80px;
    }
    .create_concert #btntr #btns {
        margin-top: -50px;
    }
    .create_concert #btntr #btns button:nth-child(1) {
        position: absolute;
        display: block;
        left: 90px;
    }
    .create_concert #btntr #btns button:nth-child(2) {
        position: absolute;
        left: 180px
    }
} */


/* 이미지부분추가 */
.imgDiv {
    margin: 15px 0;
    position: relative;
}
.imgBox {
    width: 400px;
    height: 250px;
    /* background-color: darkseagreen; */
    border: 1px solid #ccc;
    position: relative;
}
.imgBox .addimg {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgBox .addimg img {
    width: 100%;
}
#imgInput {
    position: absolute;
    width: 400px;
    height: 250px;
    left: 0;
    top: 0;
    opacity: 0;
}
.imgview {
    width: 400px;
    height: 250px;
    position: absolute;
    left: 0;
    top: 0;
}
#re_span {
    font-size: 12px;
    display: block;
    width: 400px;
    font-weight: normal;
    /* background-color: tomato; */
}
@media screen and (min-width: 320px) and (max-width:479px) {
    .create_concert form {
        max-width: 310px;
        width: 100%;
        margin: 0 auto;
    }
    .create_concert form table th {
        font-size: 20px;
    }
    .create_concert form table td {
        padding-left: 10px;
        font-size: 14px;
    }
    .create_concert form table td .radios {
        font-size: 12px;
    }
    .create_concert .radios input {
        width: 9px;
        height: 10px;
    }
    .create_concert form .imgBox {
        max-width: 200px;
        width: 100%;
        height: 200px;

    }
    .create_concert input {
        width: 200px;
    }
    .create_concert textarea {
        width: 200px;
    }
    .create_concert .imgDiv {
        max-width: 200px;
        width: 100%;
        height: 220px;
    }
    .create_concert #imgInput {
        width: 100%;
        height: 220px;
    }
    .create_concert .imgview {
        width: 100%;
        height: 220px;
    }
    #re_span {
        font-size: 8px;
        display: block;
        width: 200px;
        font-weight: normal;
        /* background-color: tomato; */
    }
}