#detail_concert {
    padding-top: 50px;
    font-weight: bold;
    height: 620px;
    background-color: white;
    display: flex;
    align-items:flex-start;
}
#detail_concert #btns {
    margin-left: 110px;
}
#detail_concert #btns button {
    outline: none;
    border: none;
    font-weight: bold;
    padding: 0 5px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}
#detail_concert #left_detail {
    text-align: center;
    margin-left: 270px;
}
#detail_concert #left_detail #detail_img {
    width: 350px;
}
#detail_concert #left_detail #detail_img img {
    width: 100%;
}
#detail_concert #span_locaion {
    font-size: 16px;
    color: #ea4949;
    border-radius: 25px;
  }
#detail_concert #right_detail {
    margin-left: 100px;
    font-size: 40px;
}

#detail_concert #right_detail #span_title{
    font-weight: bold;
}
#detail_concert div {
    font-size: 18px;
}
#detail_concert #right_detail #div_genre {
    font-size: 16px;
    margin: 5px 0;
}
#div_date {
    margin: 20px 0;
}
#div_description {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    height: 600px;
    line-height: 600px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #eee;
    margin-bottom: 50px;
}
#gopurchace {
    display: flex;
    /* height: 200px; */
    align-items: center;
    margin-top: 5px;
}
#gopurchace #outerpur button {
    width: 500px;
    height: 90px;
    margin-top: 20px;
    background-color: black;
    outline: none;
    color: white;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
    
}