@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');

#top_header {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 5;
}
#top_header .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top_header #ticket_icon {
    margin-left: 116px;
    width: 25px;
    height: 25px;
}
#top_header #ticket_icon img {
    width: 100%;
}
#top_header h1 {
    /* margin-top: -3px;
    margin-left: 230px; */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
}
#top_header .inner ul {
    margin-top: -3px;
    margin-right: 120px;
    display: flex;
}
#top_header .inner ul li {
    margin-left: 10px;
}
nav {
    padding-top: 42px;
    font-style: italic;
    font-size: 20px;
    color: white;
}
nav #category {
    padding-left: 110px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
nav #category li{
    width: 130px;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 3px;
    z-index: 11;
    transition: 0.5s;
}
nav #category li::before{
    position: absolute;
    display: block;
    content: "";
    left: -12px;
    top: 4px;
    width: 110px;
    height: 32px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -10;
    transition: 0.2s;
    opacity: 0;
}
nav #category li:hover::before{
    opacity: 1;
}
nav #welcome {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding-left: 105px;
    /* background-color: #FEBF63; */
    background-color: #fe651c;
    font-size: 40px;

}
#Arrimg {
    position: fixed;
    width: 50px;
    bottom: 40px;
    right: 20px;
    animation: upup 1.5s infinite;
    z-index: 1;
    cursor: pointer;
}
#Arrimg img {
    width: 100%;
}
@keyframes upup {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 35px;
    }
    100%{
        bottom: 20px;
    }
}
#pointer {
    cursor: pointer;
}
/* @media screen and (min-width: 361px) and (max-width: 767px) {
    nav #category {
        padding-left: 210px
    }
    #top_header #ticket_icon {
        margin-left: 20px
    }
    #top_header .inner ul {
        margin-right: 20px;
        margin-top: 0px
    }
}
@media screen and (max-width: 360px) {
    nav #category {
        padding-left: 5px
    }
    #top_header {
        height: 80px;
    }
    #top_header #ticket_icon {
        margin-left: 8px;
        padding-top: 16px;
    }
    #top_header .inner ul {
        margin-right: 8px;
        margin-top: 0px;
        font-size: 16px;
        padding-top:40px
    }
    #top_header h1 {
        font-size: 18px;
        top: 5px;
    }
    nav #category {
        padding-top: 30px;
        padding-left: 30px;
        font-size: 18px;
    }
    #Arrimg {
        width: 30px;
    }
} */
@media all and (min-width:320px) and (max-width:479px) {
    #top_header .inner{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 10px;
    }
    #top_header h1 {
        /* margin-top: -3px;
        margin-left: 230px; */
        position: unset;
        font-size: 16px;
        margin-left: 60px;
    }
    #top_header .inner ul {
        margin-top: -3px;
        display: flex;
        font-size: 14px;
        margin-right: 0px;
        position: absolute;
        right: 10px;
    }
    #top_header #ticket_icon {
        margin-left: 0px;
        width: 25px;
        height: 25px;
    }
    #top_header #ticket_icon img {
        width: 100%;
    }
    #top_header .inner ul li {
        margin-left: 10px;
    }
    nav {
        padding-top: 32px;
        font-style: italic;
        font-size: 16px;
        color: white;
    }
    nav #category {
        padding-left: 0px;
        background-color: black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;  
        text-align: center;
    }
    nav #category li{
        width: 80px;
    }
    nav #welcome {
        font-family: 'Edu VIC WA NT Beginner', cursive;
        padding-left: 105px;
        /* background-color: #FEBF63; */
        background-color: #fe651c;
        font-size: 36px;
    }
    #Arrimg {
        position: fixed;
        width: 30px;
        bottom: 30px;
        right: 10px;
        animation: upup 1.5s infinite;
        z-index: 1;
        cursor: pointer;
    }
    #Arrimg img {
        width: 100%;
    }
    @keyframes upup {
        0% {
            bottom: 30px;
        }
        50% {
            bottom: 35px;
        }
        100%{
            bottom: 30px;
        }
    }
    nav #category li::before{
        position: absolute;
        display: block;
        content: "";
        left: 1px;
        top: 8px;
        width: 78px;
        height: 24px;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: -10;
        transition: 0.2s;
        opacity: 0;
    }
  }