@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');

#top_header {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: black;
    color: white;
    position: fixed;
    z-index: 5;
}
#top_header .inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top_header #ticket_icon {
    margin-left: 116px;
    width: 25px;
    height: 25px;
}
#top_header #ticket_icon img {
    width: 100%;
}
#top_header h1 {
    margin-top: -3px;
    margin-left: 178px;
    font-size: 26px;
}
#top_header .inner ul {
    margin-top: -3px;
    margin-right: 120px;
    display: flex;
}
#top_header .inner ul li {
    margin-left: 10px;
}
nav {
    padding-top: 42px;
    font-style: italic;
    font-size: 20px;
    color: white;
}
nav #category {
    padding-left: 110px;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
nav #category li{
    width: 130px;
    position: relative;
    height: 40px;
    line-height: 40px;
    font-weight: normal;
    letter-spacing: 3px;
    z-index: 11;
    transition: 0.5s;
}
nav #category li::before{
    position: absolute;
    display: block;
    content: "";
    left: -12px;
    top: 4px;
    width: 110px;
    height: 32px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -10;
    transition: 0.2s;
    opacity: 0;
}
nav #category li:hover::before{
    opacity: 1;
}
nav #welcome {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding-left: 105px;
    /* background-color: #FEBF63; */
    background-color: #fe651c;
    font-size: 40px;

}
#Arrimg {
    position: fixed;
    width: 50px;
    bottom: 40px;
    right: 20px;
    animation: upup 1.5s infinite;
    z-index: 1;
    cursor: pointer;
}
#Arrimg img {
    width: 100%;
}
@keyframes upup {
    0% {
        bottom: 20px;
    }
    50% {
        bottom: 35px;
    }
    100%{
        bottom: 20px;
    }
}
#pointer {
    cursor: pointer;
}