#memberJoin {
    height: 820px;
    background-color:#FEBF63;
    padding-top: 120px;
}
#memberJoin form{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}
#memberJoin form table{
    background-color: white;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 25px;
    height: 600px;
    font-size: 16px;
    padding-bottom: 40px;
}
#memberJoin form table th{
    padding: 30px 0;
    font-size: 24px;
}
#memberJoin form table td{
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 40px;
}
#memberJoin #btns {
    text-align: center;
    padding-right: 40px;
}
#memberJoin button {
    outline: none;
    border: none;
    background-color: #FEBF63;
    margin: 0 5px;
    cursor: pointer;
    padding: 4px 20px;
    color: white;
}
#memberJoin input {
    width: 180px;
    height: 25px;
    margin-right: 10px;
    outline: none;
    border: none;
    padding: 3px;
    border-bottom: 5px solid #FEBF63;
}
#memberJoin #btns button {
    color: #fff;
    background-color: black;
    font-weight: bold;
    font-size: 16px;
    margin-top: 40px;
}
#duCk {
    font-size: 14px;
}
.postCode_btn {
    position: absolute;
    top: 24.5%;
    left: 61.5%;
    width: 80px;
    height: 26px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
/* @media screen and (min-width: 361px) and (max-width: 767px) {
    #memberJoin form table {
        width: 95%
    }
    .postCode_btn {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 26px;
        line-height: 26px;
        border: none;
        cursor: pointer;
    }
}
@media screen and (max-width: 360px) {
    #memberJoin form table {
        width: 95%
    }
    #memberJoin form table td {
        font-size: 16px;
    }
    #memberJoin button {
        margin-top: 20px;
    }
    .postCode_btn {
        position: absolute;
        top: 13%;
        left: 135px;
        width: 80px;
        height: 26px;
        line-height: 26px;
        border: none;
        cursor: pointer;
    }
} */

@media screen and (min-width: 320px) and (max-width:479px) {
    #memberJoin {
        height: 820px;
        background-color:#FEBF63;
        padding-top: 120px;
    }
    #memberJoin form{
        width: 100%;
        max-width: 310px;
        margin: 0 auto;
    }
    #memberJoin form table{
        background-color: white;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        border-radius: 25px;
        height: 600px;
        font-size: 16px;
        padding-bottom: 40px;
    }
    #memberJoin form table th{
        padding: 30px 0;
        font-size: 24px;
    }
    #memberJoin form table td{
        width: 55px;
        height: 50px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 10px;
    }
    #memberJoin #btns {
        text-align: center;
        padding: 0;
    }
    #memberJoin button {
        outline: none;
        border: none;
        background-color: #FEBF63;
        margin: 0 5px;
        cursor: pointer;
        padding: 4px 20px;
        color: white;
        margin-top: 10px;
    }
    #memberJoin input {
        width: 170px;
        height: 25px;
        margin-right: 0;
        outline: none;
        border: none;
        padding: 3px;
        border-bottom: 5px solid #FEBF63;
    }
    #memberJoin #btns button {
        color: #fff;
        background-color: black;
        font-weight: bold;
        font-size: 16px;
        margin-top: 40px;
    }
    #duCk {
        font-size: 12px;
        display: block;
    }
    .postCode_btn {
        position: absolute;
        top: 24.5%;
        left: 61.5%;
        width: 80px;
        height: 26px;
        line-height: 26px;
        border: none;
        cursor: pointer;
    }
}