@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Noto+Sans+KR&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: inherit;}

/* .inner {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
} */

/* 기본 색상 변수에 담기 */
/* html {
    --color-texta: #1d1d1d;
    --color-textb: #fff;
} */
/* 시스템 커서 안 보이게 숨기기 */
/* body {
    cursor: none;
} */
/* 커스텀 커서 스타일 정의해주기 */
/* .cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--color-texta);
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(20%);
    background-size: cover;
}
.cursor-grow {
    transform: scale(2);
    background-color: var(--color-texta);
} */
